
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Kafka Configuration
KAFKA_PORT=9092
ZOOKEEPER_PORT=2181

# Spring Boot Services Ports
CONFIG_SERVER_PORT=8888
DISCOVERY_SERVER_PORT=8761
CUSTOMER_SERVICE_PORT=8081
ACCOUNT_SERVICE_PORT=8082
TRANSACTION_SERVICE_PORT=8083
LOAN_SERVICE_PORT=8084
CARD_SERVICE_PORT=8085
API_GATEWAY_PORT=8080

# Spring Profiles
SPRING_PROFILES_ACTIVE=docker

# Eureka Configuration
EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
EUREKA_CLIENT_REGISTER_WITH_EUREKA=true
EUREKA_CLIENT_FETCH_REGISTRY=true

# Logging Configuration
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_MICROSERVICE=DEBUG
